<template name='banner'>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">
		    <img src="LS_Shadow.svg" width="30" height="30" alt="LS">
		  </a>
		  
      {{#if currentUser}}
	        {{> dashboard}}
	    {{else}}
	        {{> register}}
	        {{> login}}
	    {{/if}}
	  </div>
	</nav>
</template>

<template name="register">
  <div class="nav navbar-nav navbar-right dropdown show">
  	<a class="dropdown-toggle navbar-text" href="#" role="button" id="registerMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			register
		</a>
	  <div class="dropdown-menu">
		  <form class="px-4 py-3">
		    <div class="form-group">
		      <!-- <label for="registerEmail">Email address</label> -->
		      <input type="email" class="form-control" id="registerEmail" placeholder="email@example.com">
		    </div>
		    <div class="form-group">
		      <!-- <label for="registerPassword">Password</label> -->
		      <input type="password" class="form-control" id="registerPassword" placeholder="Password">
		    </div>
		    <div class="form-group">
		      <!-- <label for="registerName">Name</label> -->
		      <input type="name" class="form-control" id="registerName" placeholder="Name">
		    </div>

		    <button type="submit" class="btn btn-primary">Register</button>
		  </form>
		</div>
	</div>
</template>

<template name="login">
  <div class="nav navbar-nav navbar-right dropdown show">
  	<a class="dropdown-toggle navbar-text" href="#" role="button" id="loginMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
		</a>
	  <div class="dropdown-menu">
		  <form class="px-4 py-3">
		    <div class="form-group">
		      <!-- <label for="loginEmail">Email address</label> -->
		      <input type="email" class="form-control" id="loginEmail" placeholder="email@example.com">
		    </div>
		    <div class="form-group">
		      <!-- <label for="loginPassword">Password</label> -->
		      <input type="password" class="form-control" id="loginPassword" placeholder="Password">
		    </div>
		    <div class="form-check">
		      <input type="checkbox" class="form-check-input" id="dropdownCheck">
		      <label class="form-check-label" for="dropdownCheck">
		        Remember me
		      </label>
		    </div>
		    <button type="submit" class="btn btn-primary">Sign in</button>
		  </form>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="#">Forgot password?</a>
		</div>
	</div>
</template>

<template name="dashboard">
	<div class="nav navbar-nav navbar-right">
		<a class="upload navbar-text" href="#" role="button" id="upload" data-toggle="modal" data-target="#uploadModal">
		  <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> upload
		</a>
		<a class="logout navbar-text" href="#" role="button" id="logout">
			<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> logout
		</a>
	</div>

	<!-- Modal -->
	<div id="uploadModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title" id="uploadModalLabel">Upload your lesson plan.</h4>
	      </div>
	      <div class="modal-body">
	        <!-- Form -->
	        <form method='post' action='' enctype="multipart/form-data">
	        	<label for="title">Lesson Plan Title</label>
	        	<input class='form-control uploadForm' type="text" name="title" placeholder="title" required>
	        	<label for="subject">Lesson Plan Subject</label>
	        	<input class='form-control uploadForm' type="text" name="subject" placeholder="subject" required>
	        	<label for="grade">Grade Level</label>
	        	<select class='form-control uploadForm' name="grade" required>
	        		<option value="">--none selected--</option>
	        		<option value="Any">Any</option>
	        		<option value="Pre-K">Pre-K</option>
	        		<option value="Kindergarten">Kindergarten</option>
						  <option value="1st">1st</option>
						  <option value="2nd">2nd</option>
						  <option value="3rd">3rd</option>
						  <option value="4th">4th</option>
						  <option value="5th">5th</option>
						  <option value="6th">6th</option>
						  <option value="7th">7th</option>
						  <option value="8th">8th</option>
						  <option value="9th">9th</option>
						  <option value="10th">10th</option>
						  <option value="11th">11th</option>
						  <option value="12th">12th</option>
						</select>
						<label for="tags">Tags</label>
						<input class='form-control uploadForm' type="text" name="tags" placeholder="seperate by commas..." required>
	          <label for="file">Browse or drop below (PDFs only).</label>

	          <!-- {{#with currentUpload}}
					    Uploading <b>{{file.name}}</b>:
					    <span id="progress">{{progress.get}}%</span>
					  {{else}}
					    <input name='file' type="file" id="fileInput" accept=".pdf">
					  {{/with}} -->

						{{#if currentFile}}
					    {{#with currentFile}}
					      <span id="progress">{{progress}}%</span>
					    {{/with}}
					  {{else}}
					    <input class="uploadForm" id="fileInput" type="file"  accept=".pdf" name="selectedFile" required="">
					    <input type='button' class='btn btn-primary' value='Upload' id='submitUpload' data-dismiss="modal" disabled="disabled">
					  {{/if}}

	          
	        </form>

	        <!-- Preview-->
	        <div id='preview'></div>
	      </div>
	 
	    </div>

	  </div>
	</div>

</template>