<template name="view">
	<div class="col-xs-12" name='maindiv'>
		
		{{> banner}}
		

		<div class="viewContent">
		{{#if Template.subscriptionsReady}}
			{{#with pdfFile.with}}
				<h1>{{meta.title}}</h1>
				<h3>By {{meta.author}}</h3>
				
				<h6>File Name: {{name}} 
					<span>
						<a href="{{link}}?download=true" download="{{name}}" target="_parent" type="{{type}}">
			    			download
			  			</a>
			  		</span>
			  	</h6>
			  	<h5>Tags: {{meta.tags}}</h5>
			  	<h4 class="SubjectGrade">Subject: {{meta.subject}}</h4>
			  	<h4 class="SubjectGrade">Grade: {{meta.grade}}</h4>
				
				<!-- <embed src="{{link}}" alt="{{name}}" width="800px" height="2100px" /> -->
				<canvas id="pdfcanvas" class="viewContent">{{PDFrenderer}}</canvas>
				<!-- <p>This is where the PDF text should be rendered</p> -->
			{{else}}
				<h2>nothing matching</h2>
			{{/with}}
		{{else}}
	      {{> loadingDoc}}
	    {{/if}}
	</div>
		
	</div>
</template>


<template name="loadingDoc">
	<div class="col-xs-12">
		<h3 class="loader">We're loading your results.</h3>
		<div class="loaderIcon loader"></div>
	</div>
</template>