/* CSS declarations go here */
*{
	color: #666666;
	font-size: 16px;
	/*background-color: #ebe9eb;*/
}

*:focus{
  outline: none;
}

#master{
	
}

#sub_master{
	/*background-color: #ebe9eb;*/
	/*height: 100vh;*/

}

.dropdown-menu{
	min-width: 30rem;
	padding: 2rem;
}

.dropdown-menu form, .dropdown-menu form .form-check, .dropdown-menu form .form-check *{
	background-color: white;
}

.upload span, .logout span, #loginMenu span{
	color: inherit;
}



.homeContent{
	max-width: 500px;
  margin: auto;
  text-align: center;
  
  /*padding-bottom: 1rem;*/
}

.modal-content .modal-body form label{
	padding-top: 1rem;
}

#fileInput{
	padding-bottom: 2rem;
}

h1.homeContent{
	padding-top: 10rem;
	padding-bottom: 2rem;
}

input[name=search]{
	max-width: 100%;
	min-width: 100%;
	background-color: white;
	padding: 1rem;
	/*border-radius: 1rem;*/
	/*border: 1px solid #cccccc;*/
	/*box-shadow: 0rem 0rem 1.2rem 0.8rem rgba(200,200,200,0.8);*/
}

#resultsSearch{
	align-self: left;
	max-width: 70rem;
	min-width: 29rem;
	padding-bottom: 5rem;
}

textarea:focus, input:focus{
  outline: none;
}

.logo{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}






::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
  font-weight: bold;
}

.loader {
	padding-top: 5rem;
	margin: auto;

}

.loaderIcon {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}