/* CSS declarations go here */
*{
	color: #666666;
	font-size: 16px;
}

#master{
	
}

#sub_master{
	background-color: #ebe9eb;
	height: 100vh;

}

.content{
	max-width: 500px;
  margin: auto;
  text-align: center;
  
  /*padding-bottom: 1rem;*/
}

h1.content{
	padding-top: 10rem;
	padding-bottom: 2rem;
}

input[name=search]{
	max-width: 100%;
	min-width: 100%;
}
